.full-round {
  border-radius: 50%;
  padding: 1px;
  width: fit-content;
  height: fit-content;
}
/* home css */
.cart-body {
  display: flex;
}
.mobile-image {
  max-width: 250px;
}
.cart {
  width: fit-content;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 5px 6px 8px rgb(202, 202, 226);
  padding: 30px 20px;
}
.add-to-cart {
  border: 1px solid rgb(11, 80, 80);
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(11, 80, 80);
  transition: all 0.4s ease-in-out;
  margin-top: 8px;
}
.add-to-cart:hover {
  background: rgb(13, 124, 124);
  color: white;
}
/* cart style */
table,
thead,
tr,
th,
td,
tbody {
  border: 2px solid rgb(14, 137, 209);
  border-collapse: collapse;
}

.item-flex {
  display: flex;
  border: none;
  align-items: center;
  padding: 5px;
}
